<h1>Как отобразить данные из базы на странице сайта?</h1>
<ol>
    <h2><li>Подготовить путь в браузере, по которому мы будем отображать данные</li></h2>
    <p>Необходимо отредактировать файлы urls.py в глобальном каталоге настроек проекта и в приложении, которое будет решать нашу задачу - в нашем случае mainpage/urls.py</p>
    <pre>
# Локальный диспетчер путей приложения mainpage
from django.urls import path

from . import views
urlpatterns = [
    # Путь в браузере: пустой, потому что главная страница
    # Функция: index, потому что именно её мы научили рендерить нужный для главной страницы шаблон
    path('',       views.index),
    path('tasks/', views.show_tasks),    # 127.0.0.1:8000/tasks/ - вызов функции show_tasks
]
    </pre>
   <h2><li>Написать функцию, которая будет вызываться по этому пути</li></h2>
    <p>Теперь нужно написать функцию show_tasks в файле mainpage/views.py, которая будет превращать шаблон страницы в страниу (рендерить шаблон)</p>
    <pre>
def show_tasks(request):
    return render(  # создание страница сайта по шаблону
        request,
        'mainpage/task.html',
    )

    </pre>
    <h2><li>Сформировать HTML-шаблон</li></h2>
    <p>Этот шаблон лежит, как и все шаблоны, в папке templates/mainpage и называется task.html для начала может содержать только заголовок &lt;h1&gt;Здесь будут задачи&lt;/h1&gt;</p>
    <h2><li>Получить данные из базы</li></h2>
    <p>Данные могут быть получены средствами Django внутри файла mainpage/views.py в новой функции. Для этого нужно импортировать модели и попросить класс моделей отдать нам все свои объекты.</p>
    <pre>
        
# ВЫЗОВ ЭТОЙ ФУНКЦИИ ПРОИСХОДИТ В МОМЕНТ ОБРАЩЕНИЯ ПО ПУТИ В БРАУЗЕРЕ!
def show_tasks(request):
    my_tasks = models.Task.objects.all()  # Класс, дай нам все свои объекты, хранящиеся в БД
    # это аналог select *
    # Просмотрим циклом все полученные задачи
    for t in my_tasks:
        # t - один объект класса Task! можно вывести на печать его поле!
        print(t.deadline, t.description)
    return render(  # создание страница сайта по шаблону
        request,
        'mainpage/task.html',
    )

    </pre>
    <h2><li>Передать данные в HTML-шаблон</li></h2>
    <p>Для передачи данных в шаблон HTML необходимо воспользоваться третьим аргументом функции render. Он называется context и должен представлять собой словарь, 
        где ключи - это будущие переменные в шаблоне, а значения - то, что вместо этих переменных будет подставлено
    Если переменная есть, а в контексте ее нет - ничего не "упадет" - просто будет пустое место. Если в контексте есть лишняя переменная, тем более ничего не упадет.
    </p>
    <p>Для большинства стандартных питоновских типов, таких как строка, число, дата и время,
        в шаблон подставляется их "нормальное" значение, с использованием магического метода __str__
         Для наших классов мы не реализовывали этот метод. Попробуйте сделать это сами! Но и без этого можно
         отобразить их на странице, обращаясь к каждому полю класса в отдельности. Пример шаблона:
    </p>
    <pre>
&lt;h1>Наши задачи&lt;/h1>
{{all_tasks}}

&lt;ol>
{% for task in all_tasks %}
  &lt;li>{{task}}&lt;/li>
{% endfor %}
&lt;/ol>


&lt;ol>
{% for task in all_tasks %}
  &lt;li>{{task.deadline}} - {{task.description}}&lt;/li>
{% endfor %}
&lt;/ol>
    </pre>
    <p>В первом случае в шаблоне отображается весь список задач в "системном" виде: Query Set. Во втором - отдельные задачи уже распределены по элементам списка, но без __str__ отображается только название класса и id.</p>
</ol>

<h1>Домашнее задание</h1>
<ol>
    <li>Написать своим классам в моделях магический метод __str__</li>
    <li>Создать в другом приложении (пространство коворкинга) отображение данных из базы на сайте</li>
</ol>